{% extends "base1.html" %}
{% block content %}


<div class="container" style="font-family:'Montserrat';"></div>
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="chart-wrapper">
                <div class="chart-title">
                        <img src="https://i.imgur.com/67IH0Kz.png" height="35" width="35"> &nbsp;Impressions
                </div>
                <div class="chart-stage" style="background:#3A3D46;display:grid;justify-items:center;align-items:center;margin-bottom:10px;font-size:7em;">
                  <div id="impChart"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="chart-wrapper">
                <div class="chart-title">
                        <img src="https://i.imgur.com/A7BEPLM.png" height="35" width="35"> &nbsp;Clicks
                </div>
                <div class="chart-stage" style="background:#3A3D46;display:grid;justify-items:center;align-items:center;margin-bottom:10px;font-size:7em;">
                  <div id="clickChart"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="chart-wrapper">
                <div class="chart-title">
                        <img src="https://i.imgur.com/6940h67.png" height="35" width="35"> &nbsp;Conversions
                </div>
                <div class="chart-stage" style="background:#3A3D46;display:grid;justify-items:center;align-items:center;margin-bottom:10px;font-size:7em;">
                  <div id="convChart"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="chart-wrapper">
                <div class="chart-title">
                        <img src="https://i.imgur.com/do7JsiO.png" height="35" width="35"> &nbsp;Sales
                </div>
                <div class="chart-stage" style="background:#3A3D46;display:grid;justify-items:center;align-items:center;margin-bottom:10px;font-size:7em;">
                  <div id="salesChart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="chart-wrapper">
                <div class="chart-title">
                        <img src="https://i.imgur.com/Hkz8FKF.png" height="35" width="35"> &nbsp;Timeline
                </div>
                <div class="chart-stage" style="background:#3A3D46;display:grid;justify-items:center;align-items:center;margin-bottom:10px">
                  <div id="dateChart"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-5">
            <div class="chart-wrapper">
                <div class="chart-title">
                        <img src="https://i.imgur.com/Jtj5vWp.png" height="35" width="35"> &nbsp;Site
                </div>
                <div class="chart-stage" style="background:#3A3D46;display:grid;justify-items:center;align-items:center;margin-bottom:10px">
                    <div id="siteChart"></div>
                </div>
            </div>
        </div>
    </div>
</div>
 
    <script>
        $(document).ready(function(){
        var endpoint = 'api/data/';

        $.ajax({
            method: 'GET',
            url: endpoint,
            success: function(data){
                var parseDate = d3.time.format("%Y-%d-%m").parse;
                data.forEach(function(d) {
                  d.date = d.date.slice(0,10);
                  d.date = parseDate(d.date);
                });

                var ndx = crossfilter(data);
                var clickDim = ndx.dimension(function(d) { return d["clicks"]; });
                var impDim = ndx.dimension(function(d) { return d["impressions"]; });
                var convDim = ndx.dimension(function(d) { return d["conversions"]; });
                var salesDim = ndx.dimension(function(d) { return d["sales"]; });
                var siteDim = ndx.dimension(function(d) { return d["site"]; });
                var dateDim = ndx.dimension(function(d) { return d["date"]; });

                var clickGroup = clickDim.group();
                var impGroup = impDim.group();
                var convGroup =  convDim.group();
                var salesGroup = salesDim.group();
                var siteGroup = siteDim.group();
                var dateGroup = dateDim.group();

                var impAll = ndx.groupAll().reduceSum(function(d){
                return d["impressions"]
                });
                var clickAll = ndx.groupAll().reduceSum(function(d){
                return d["clicks"]
                });
                var convAll = ndx.groupAll().reduceSum(function(d){
                return d["conversions"]
                });
                var saleAll = ndx.groupAll().reduceSum(function(d){
                return d["sales"]
                });
                var startDate = dateDim.bottom(1)[0].date;
                var endDate = dateDim.top(1)[0].date;     


                var clickChart = dc.numberDisplay("#clickChart");
                var impChart = dc.numberDisplay("#impChart");
                var convChart = dc.numberDisplay("#convChart");
                var salesChart = dc.numberDisplay("#salesChart");
                var siteChart = dc.pieChart("#siteChart");
                var dateChart = dc.barChart("#dateChart"); 


                impChart
                    .height(280)
                    .valueAccessor(function(d){
                        return d; })
                    .group(impAll);

                clickChart
                    .height(280)
                    .valueAccessor(function(d){
                        return d; })
                    .group(clickAll);

                convChart
                    .height(280)
                    .valueAccessor(function(d){
                        return d; })
                    .group(convAll);

                salesChart
                    .height(280)
                    .valueAccessor(function(d){
                        return d; })
                    .group(saleAll);

                siteChart
                    //.width(400)
                    .height(280)
                    .radius(160)
                    .innerRadius(45)
                    .dimension(siteDim)
                    .group(siteGroup)
                    .colors(d3.scale.ordinal().range(['#0690EB','#60476F', '#F1A52B', '#38BA70', '#DA1F10']))
                    // .on('renderlet', function (chart) {
                    //     chart.select("svg > g").attr("transform", "translate(200,170)");
                    // })
                    .drawPaths(true)
                    .externalRadiusPadding(60)
                    .minAngleForLabel(0)
                    .externalLabels(40)
                    .renderLabel(true);
                
                dateChart
                    .width(590)
                    .height(280)
                    .margins({top: 10, right: 50, bottom: 20, left: 20})
                    .dimension(dateDim)
                    .group(dateGroup)
                    .transitionDuration(500)
                    .x(d3.time.scale().domain([startDate, endDate]))
                      .elasticY(true)
                      .colors(['#1183F6'])
                    .yAxis().ticks(2);

                dc.renderAll();
            }
        });
    });
    </script>

{% endblock %}