{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Visual Business Pro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'base/basestyle.html' %}
    {% include 'base/basejs.html' %}
    {% include 'base/stripe.html' %}
    {% block head_js %}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-inverse">
            <div class="container">
                        <div class="navbar-header">
                          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                          <a href="{% url 'index' %}" class="navbar-brand">VBP</a>
                        </div>
                        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                        {% if user.is_authenticated %}  
                          <ul class="nav navbar-nav navbar-right">
                                <li><a href="{% url 'credits' %}">Credit</a></li>
                                <li><a href="{% url 'invoices' %}">Debt</a></li>
                                <li><a href="{% url 'analytics' %}">Site analytics</a></li>
                                <li><a href="{% url 'employees' %}">Employees</a></li>
                                <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                        <li><a href="{% url 'newemployee' %}">Add an Employee</a></li>
                                        <li><a href="{% url 'newinvoice' %}">Add a New Invoice</a></li>
                                        <li><a href="{% url 'newcredit' %}">Add a New Credit</a></li>
                                        <li><a href="{% url 'newanalytics' %}">Add Daily Site Data</a></li>
                                </ul>
                              </li>
                            <li>
                              <!-- <a class="glyphicon glyphicon-log-in" href="{% url 'logout' %}"> My Dashboard </a> -->
                            </li>
                            <li>
                                <a href="{% url 'logout' %}">Logout</a>
                            </li>
                          </ul>
                          {% else %}
                          <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="{% url 'register' %}">Register</a>
                                </li>
                                <li>
                                    <a class="glyphicon glyphicon-tasks" href="{% url 'login' %}"> My Dashboard</a>
                                </li>
                              </ul>
                              {% endif %}                          
                </nav>
                </div>
</nav>

<div class="container">
        <div class="row">
            <div class="col-xs-12">
                    {% block content %}
                    {% endblock %}
            </div>
            <div class="col-xs-12 footer">
                    <p>Powered by Django</p>
            </div>
        </div>
    </div>
</body>
</html>