{% extends "base1.html" %}
{% block content %}


<div class="container" style="font-family:'Montserrat';">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8">
            <div class="chart-wrapper">
                <div class="chart-title">
                   <img src="https://i.imgur.com/Hkz8FKF.png" height="35" width="35"> &nbsp;Timeline
                </div>
                <div class="chart-stage time" style="background:#3A3D46;display:grid;justify-items:center;align-items:center;margin-bottom:10px">
                  <div id="timeChart"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="chart-wrapper">
                <div class="chart-title">
                    <img src="https://i.imgur.com/24yRJ6B.png" height="35" width="35"> &nbsp;Location
                </div>
                <div class="chart-stage" style="background:#3A3D46;display:grid;justify-items:center;align-items:center;margin-bottom:10px">
                  <div id="payLocChart"></div>
                </div>
                <br/>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="chart-wrapper">
                <div class="chart-title">
                    <img src="https://i.imgur.com/oqYbTe2.png" height="35" width="35">  &nbsp;Payment Method
                </div>
                <div class="chart-stage" style="background:#3A3D46;display:grid;justify-items:center;align-items:center;margin-bottom:10px">
                  <div id="payTypeChart"></div>
                </div>
              </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="chart-wrapper">
                <div class="chart-title">
                    <img src="https://i.imgur.com/DMoVxR4.png" height="35" width="35"> &nbsp;Country
                </div>
                <div class="chart-stage" style="background:#3A3D46;display:grid;justify-items:center;align-items:center;margin-bottom:10px">
                  <div id="countryChart"></div>
                </div>
              </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="chart-wrapper">
                <div class="chart-title">
                    <img src="https://i.imgur.com/n5xeXI6.png" height="35" width="35"> &nbsp;Revenue
                </div>
                <div class="xc chart-stage" style="background:#3A3D46;display:grid;justify-items:center;align-items:center;font-size:7em;margin-bottom:10px">
                  <div id="numberChart"></div>
                </div>
              </div>
        </div>
    </div>
</div>
 
    <script>
        $(document).ready(function(){

        $(".time").mCustomScrollbar({
            axis:"x"
        });

        var endpoint = 'api/data/';

        $.ajax({
            method: 'GET',
            url: endpoint,
            success: function(data){
               var parseDate = d3.time.format("%Y-%d-%m").parse;
               data.forEach(function(d) {
                  d.date = d.date.slice(0,10);
                  d.date = parseDate(d.date);
                });
              
                var ndx = crossfilter(data);
                var nameDim = ndx.dimension(function(d) { return d["name"]; });
                var dateDim = ndx.dimension(function(d) { return d["date"]; });
                var payRefDim = ndx.dimension(function(d) { return d["payment_reference"]; });
                var amountDim = ndx.dimension(function(d) { return d["amount"]; });
                var payTypeDim = ndx.dimension(function(d) { return d["payment_type"]; });
                var countryDim = ndx.dimension(function(d) { return d["country"]; });
                var payLocDim = ndx.dimension(function(d) { return d["payment_location"]; });
                var allDim = ndx.dimension(function(d) {return d;});
                
                var nameGroup = nameDim.group();
                var dateGroup = dateDim.group();
                var payRefGroup =  payRefDim.group();
                var amountGroup = amountDim.group();
                var payTypeGroup = payTypeDim.group();
                var countryGroup = countryDim.group();
                var payLocGroup = payLocDim.group();
                var all = ndx.groupAll();
                var totAll = ndx.groupAll().reduceSum(function(d){
                return d["amount"]
                });
                var startDate = dateDim.bottom(1)[0].date;
                var endDate = dateDim.top(1)[0].date;



                var nameChart = dc.rowChart("#nameChart");
                var number = dc.numberDisplay("#numberChart");
                var payTypeChart = dc.rowChart("#payTypeChart");
                var countryChart = dc.rowChart("#countryChart");
                var payRefChart = dc.rowChart("#payRefChart");
                var locationChart = dc.pieChart("#payLocChart");
                var timeChart = dc.barChart("#timeChart");


                nameChart
                    //.width(300)
                    .height(280)
                    .dimension(amountDim)
                    .group(amountGroup)
                    .ordering(function(d) { return -d.value })
                    .colors(d3.scale.ordinal().range(['#51F5E0']))
                    .elasticX(true)
                    .xAxis().ticks(6);
                
                number
                    .height(280)
                    .valueAccessor(function(d){
                        return d; })
                    .group(totAll);

                payTypeChart
                    //.width(300)
                    .height(280)
                    .dimension(payTypeDim)
                    .group(payTypeGroup)
                    .ordering(function(d) { return -d.value })
                    .colors(d3.scale.ordinal().range(['#0690EB','#60476F', '#F1A52B', '#38BA70', '#DA1F10']))
                    .elasticX(true)
                    .xAxis().ticks(6)
                    .tickFormat(d3.format(''));

                countryChart
                    //.width(300)
                    .height(280)
                    .dimension(countryDim)
                    .group(countryGroup)
                    .ordering(function(d) { return -d.value })
                    .colors(d3.scale.ordinal().range(['#0690EB','#60476F', '#F1A52B', '#38BA70', '#DA1F10']))
                    .elasticX(true)
                    .xAxis().ticks(6)
                    .tickFormat(d3.format(''));

                payRefChart
                    //.width(300)
                    .height(280)
                    .dimension(payRefDim)
                    .group(payRefGroup)
                    .ordering(function(d) { return -d.value })
                    .colors(d3.scale.ordinal().range(['#0690EB','#60476F', '#F1A52B', '#38BA70', '#DA1F10']))
                    .elasticX(true)
                    .xAxis().ticks(6);

                locationChart
                    //.width(400)
                    .height(280)
                    .radius(160)
                    .innerRadius(45)
                    .dimension(payLocDim)
                    .group(payLocGroup)
                    .colors(d3.scale.ordinal().range(['#0690EB','#60476F','#F1A52B', '#38BA70', '#DA1F10']))
                    // .on('renderlet', function (chart) {
                    //     chart.select("svg > g").attr("transform", "translate(200,170)");
                    // })
                    .drawPaths(true)
                    .externalRadiusPadding(60)
                    .minAngleForLabel(0)
                    .externalLabels(40)
                    .renderLabel(true);

                timeChart
                    .width(590)
                    .height(280)
                    .margins({top: 10, right: 50, bottom: 20, left: 20})
                    .dimension(dateDim)
                    .group(dateGroup)
                    .transitionDuration(500)
                    .x(d3.time.scale().domain([startDate, endDate]))
                      .elasticY(true)
                      .colors(['#1183F6'])
                    .yAxis().ticks(2)
                    .tickFormat(d3.format(''));


                dc.renderAll();
    


            }
        })
    });
    </script>

{% endblock %}